<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>DebitStore</title>
    <link rel="icon" href="Images/NewCCLogo.png">
    <link rel="stylesheet" href="/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
	<form method="POST" action="/addCard">
    <input name="cardname" placeholder="Enter your cards name" type="text">
    <input name="cardnumber" placeholder="Enter your cards number" type="text">
    <input name="cardcvv" placeholder="Enter your cards cvv" type="text">
    <input name="carddate" placeholder="Enter your cards date" type="text">
		<input name="code" placeholder="Enter your Access Code" type="text">
		<button type="submit">Submit</button>
	</form>
  </body>
</html>