<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>DebitStore</title>
    <link rel="icon" href="Images/NewCCLogo.png">
    <link rel="stylesheet" href="/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
	<h2>Edit Date</h2>
	<form method="POST" action="/date">
		<input name="code" placeholder="Enter your access Code" type="text">
    <input name="cardname" placeholder="Enter your cards name" type="text">
		<input name="newmonth" placeholder="Enter your cards new month" type="text">
		<input name="newyear" placeholder="Enter your cards new year" type="text">
		<button type="submit">Submit</button>
	</form>
  </body>
</html>