<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>DebitStore</title>
    <link rel="icon" href="Images/NewCCLogo.png">
    <link rel="stylesheet" href="/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
	<p>What part of your card do you want to edit?</p>
	<a href="/editCardCVV">Number/CVV</a>
	<a href="/editCardName">Name</a>
	<a href="/editCardDate">Date</a>
	</form>
  </body>
</html>