<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>DebitStore</title>
    <link rel="icon" href="Images/NewCCLogo.png">
    <link rel="stylesheet" href="/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
		<h2>Get Cards</h2>
		<p><%-cards%></p>
	<form method="POST" action="/getCode">
		<input name="code" placeholder="Enter your access Code" type="text">
    </select>
		<button type="submit">Submit</button>
	</form>
  </body>
</html>