<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>DebitStore</title>
    <link rel="icon" href="Images/NewCCLogo.png">
    <link rel="stylesheet" href="/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
	<h2>Menu/Get Data</h2>
	<p><%=cardname%></p>
	<p><%=name%></p>
  <p><%=number%></p>
  <p><%=date%></p>
	<form method="POST" action="/form">
		<input name="id" placeholder="Enter your access Code" type="text">
    <input name="cardname" placeholder="Enter your cards name" type="text">
		<button type="submit">Submit</button>
	</form>
  <a href="/about">Add Card</a>
	<a href="/editMenu">Edit Card</a>
	<a href="/create">Create Account</a>
	<a href="/getCards">List all Cards</a>
  </body>
</html>