<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>DebitStore</title>
    <link rel="icon" href="Images/NewCCLogo.png">
    <link rel="stylesheet" href="/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
	<h2>Make account</h2>
	<%=code%>
  </body>
</html>